<%- include("partials/header") %>
<body>
<%- include("partials/aside") %>
<main id="detail-container">
    <section>
        <article>
            <a href="/collection">
            <button>
                Terug
            </button>
            </a>
        </article>
        <article>
            <img src="<%= card.image_uris?.large ||
                  card.card_faces?.[0]?.image_uris?.large ||
                  '/assets/default-card.png' %>"
            alt="<%= card.name %>">
        </article>
    </section>
    <section id="detail-cardinfo">
        <article>
            <h1><%= card.name %></h1>
        </article>
        <article>
            <p><%= card.oracle_text %></p>
            <br>
            <p><%= card.flavor_text %></p>
        </article>
        <article>
            <ul>
                <li><strong>Type:</strong> <%= card.type_line %></li>
                <li><strong>Rarity:</strong> <%= card.rarity %></li>
                <% if (card.oracle_text) { %>
                <li><strong>Oracle Text:</strong> <%= card.oracle_text %></li>
                <% } %>
                <% if (card.power != null && card.toughness != null) { %>
                <li><strong>Power/Toughness:</strong> <%= card.power %>/<%= card.toughness %></li>
                 <% } %>
            </ul>
        </article>
        <article>
  <% if (decks && decks.length) { %>
    <% decks.forEach(deck => { %>
      <form 
  method="POST" 
  action="/deck/<%= deck._id %>/cards/<%= card.id %>"
  style="display: inline"
>
  <button type="submit" class="btn-primary">
    Voeg toe aan “<%= deck.name %>”
  </button>
</form>
    <% }) %>
  <% } else { %>
    <p>Je hebt nog geen decks. <a href="/deckbuilder">Maak er eentje aan</a>.</p>
  <% } %>
</article>
    </section>
</main>
</body>

</html>