<%- include("partials/header") %>
<body id="dc-body">
<main id="dc-main">
<section id="dc-dropdown">
    <div class="dropdown">
        <div class="select">
            <span class="selected"><%= decks[0]?.name || "Kies een deck" %></span>
            <div class="caret"></div>
        </div>
        <ul class="menu">
            <% decks.forEach((deck, index) => { %>
                <li class="<%= index === 0 ? 'active' : '' %>"><%= deck.name %></li>
            <% }) %>
        </ul>
    </div>
</section>

    <section id="dc-card-track">
        <input type="text" id="deck-name" placeholder="Enter card name" />
        <button id="track-deck">Trek kaart</button>
    </section>
    <section id="dc-draw">
        <article>
            <img id="dc-deck" src="/assets/latest.png" alt="MTG Card Back">
        </article>
        <article>
            <button id="dc-btn">Trek kaart</button>
        </article>
        <article>
            <img id="dc-card" src="/assets/card1.jpg" alt="card">
        </article>
    </section>
</main>
<%- include("partials/aside") %>
</body>
</html>
